In [1]:
import numpy as np
import pandas as pd

In [2]:
f = '/home/spid3r404/Documents/data_science/data/GDP.csv'
df = pd.read_csv(f, skiprows=4)
df.head(5)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,Unnamed: 62
0,Aruba,ABW,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.498933e+09,2.467704e+09,2.584464e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,5.377778e+08,5.488889e+08,5.466667e+08,7.511112e+08,8.000000e+08,1.006667e+09,...,1.248694e+10,1.593680e+10,1.793024e+10,2.053654e+10,2.026425e+10,2.061610e+10,1.921556e+10,1.946902e+10,2.081530e+10,NaN
2,Angola,AGO,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,7.549239e+10,8.252614e+10,1.041158e+11,1.139232e+11,1.249125e+11,1.267302e+11,1.026212e+11,9.533720e+10,1.242094e+11,NaN
3,Albania,ALB,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.204421e+10,1.192695e+10,1.289087e+10,1.231978e+10,1.277628e+10,1.322824e+10,1.138693e+10,1.188368e+10,1.303935e+10,NaN
4,Andorra,AND,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,3.660531e+09,3.355695e+09,3.442063e+09,3.164615e+09,3.281585e+09,3.350736e+09,2.811489e+09,2.877312e+09,3.012914e+09,NaN

In [3]:
df.columns

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', 'Unnamed: 62'],
      dtype='object')

In [4]:
df.isnull().sum()

Country Name        0
Country Code        0
Indicator Name      0
Indicator Code      0
1960              131
                 ...
2014               17
2015               18
2016               23
2017               30
Unnamed: 62       264
Length: 63, dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264 entries, 0 to 263
Data columns (total 63 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    264 non-null    object
 1   Country Code    264 non-null    object
 2   Indicator Name  264 non-null    object
 3   Indicator Code  264 non-null    object
 4   1960            133 non-null    float64
 5   1961            133 non-null    float64
 6   1962            135 non-null    float64
 7   1963            135 non-null    float64
 8   1964            135 non-null    float64
 9   1965            145 non-null    float64
 10  1966            146 non-null    float64
 11  1967            149 non-null    float64
 12  1968            153 non-null    float64
 13  1969            153 non-null    float64
 14  1970            162 non-null    float64
 15  1971            163 non-null    float64
 16  1972            163 non-null    float64
 17  1973            163 non-null    float64
 18  1974            164 non-null    float64
 19  1975            168 non-null    float64
 20  1976            169 non-null    float64
 21  1977            173 non-null    float64
 22  1978            172 non-null    float64
 23  1979            173 non-null    float64
 24  1980            185 non-null    float64
 25  1981            188 non-null    float64
 26  1982            189 non-null    float64
 27  1983            190 non-null    float64
 28  1984            191 non-null    float64
 29  1985            193 non-null    float64
 30  1986            195 non-null    float64
 31  1987            199 non-null    float64
 32  1988            201 non-null    float64
 33  1989            205 non-null    float64
 34  1990            221 non-null    float64
 35  1991            221 non-null    float64
 36  1992            222 non-null    float64
 37  1993            226 non-null    float64
 38  1994            228 non-null    float64
 39  1995            236 non-null    float64
 40  1996            237 non-null    float64
 41  1997            236 non-null    float64
 42  1998            238 non-null    float64
 43  1999            239 non-null    float64
 44  2000            245 non-null    float64
 45  2001            245 non-null    float64
 46  2002            249 non-null    float64
 47  2003            249 non-null    float64
 48  2004            250 non-null    float64
 49  2005            250 non-null    float64
 50  2006            251 non-null    float64
 51  2007            251 non-null    float64
 52  2008            249 non-null    float64
 53  2009            249 non-null    float64
 54  2010            249 non-null    float64
 55  2011            250 non-null    float64
 56  2012            247 non-null    float64
 57  2013            248 non-null    float64
 58  2014            247 non-null    float64
 59  2015            246 non-null    float64
 60  2016            241 non-null    float64
 61  2017            234 non-null    float64
 62  Unnamed: 62     0 non-null      float64
dtypes: float64(59), object(4)
memory usage: 130.1+ KB

In [6]:
df['Unnamed: 62'].value_counts(dropna=False)

NaN    264
Name: Unnamed: 62, dtype: int64

In [7]:
# Removing column Unnamed due to majority null
df = df.drop(['Unnamed: 62'], axis=1)
df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Aruba,ABW,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.791961e+09,2.498933e+09,2.467704e+09,2.584464e+09,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,5.377778e+08,5.488889e+08,5.466667e+08,7.511112e+08,8.000000e+08,1.006667e+09,...,1.019053e+10,1.248694e+10,1.593680e+10,1.793024e+10,2.053654e+10,2.026425e+10,2.061610e+10,1.921556e+10,1.946902e+10,2.081530e+10
2,Angola,AGO,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,8.417804e+10,7.549239e+10,8.252614e+10,1.041158e+11,1.139232e+11,1.249125e+11,1.267302e+11,1.026212e+11,9.533720e+10,1.242094e+11
3,Albania,ALB,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.288135e+10,1.204421e+10,1.192695e+10,1.289087e+10,1.231978e+10,1.277628e+10,1.322824e+10,1.138693e+10,1.188368e+10,1.303935e+10
4,Andorra,AND,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,4.007353e+09,3.660531e+09,3.355695e+09,3.442063e+09,3.164615e+09,3.281585e+09,3.350736e+09,2.811489e+09,2.877312e+09,3.012914e+09

In [8]:
# Created list of columns to keep
col_keep = ['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code']

In [9]:
df = pd.melt(df, id_vars = col_keep)
df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,variable,value
0,Aruba,ABW,GDP (current US$),NY.GDP.MKTP.CD,1960,NaN
1,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1960,5.377778e+08
2,Angola,AGO,GDP (current US$),NY.GDP.MKTP.CD,1960,NaN
3,Albania,ALB,GDP (current US$),NY.GDP.MKTP.CD,1960,NaN
4,Andorra,AND,GDP (current US$),NY.GDP.MKTP.CD,1960,NaN

In [10]:
df = df.rename(columns = {'variable':'Year', 'value':'GDP'})
df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,Year,GDP
0,Aruba,ABW,GDP (current US$),NY.GDP.MKTP.CD,1960,NaN
1,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1960,5.377778e+08
2,Angola,AGO,GDP (current US$),NY.GDP.MKTP.CD,1960,NaN
3,Albania,ALB,GDP (current US$),NY.GDP.MKTP.CD,1960,NaN
4,Andorra,AND,GDP (current US$),NY.GDP.MKTP.CD,1960,NaN

In [11]:
df = df.loc[:,['Country Name', 'Country Code', 'Year', 'GDP']]

In [12]:
df['GDP'].isnull().sum()

3535

In [13]:
df.shape

(15312, 4)

In [14]:
df.isnull().sum()

Country Name       0
Country Code       0
Year               0
GDP             3535
dtype: int64

In [15]:
print(3535/15312)

0.23086468129571577

In [16]:
#df_1 = df
df_2 = df

In [17]:
# Option 1 to fill null values using interpolate or other method to fill null values, such as mean.
# Removed any data remaining will null values that will not provide a GDP or provide an average
#df_1['GDP'] = df_1['GDP'].interpolate()
#df_1.dropna(inplace=True)

In [18]:
#df_1.head()

In [19]:
#df_1.shape

In [20]:
# Option 2 remove null values completely. Depending on the purpose of the data, this might be more appropriate if using data estimates is not desired.
# Could also request data for missing values.
df_2.dropna(inplace=True)

In [21]:
df_2.head()

   Country Name Country Code  Year           GDP
1   Afghanistan          AFG  1960  5.377778e+08
11    Australia          AUS  1960  1.857319e+10
12      Austria          AUT  1960  6.592694e+09
14      Burundi          BDI  1960  1.960000e+08
15      Belgium          BEL  1960  1.165872e+10

In [22]:
df_2.shape

(11777, 4)

In [23]:
df_2

       Country Name Country Code  Year           GDP
1       Afghanistan          AFG  1960  5.377778e+08
11        Australia          AUS  1960  1.857319e+10
12          Austria          AUT  1960  6.592694e+09
14          Burundi          BDI  1960  1.960000e+08
15          Belgium          BEL  1960  1.165872e+10
...             ...          ...   ...           ...
15306         Samoa          WSM  2017  8.566265e+08
15307        Kosovo          XKX  2017  7.128691e+09
15309  South Africa          ZAF  2017  3.494193e+11
15310        Zambia          ZMB  2017  2.580867e+10
15311      Zimbabwe          ZWE  2017  1.784582e+10

[11777 rows x 4 columns]